<a href="https://colab.research.google.com/github/nus-sps/workshops.tfi.data-visualisation/blob/main/python-basics_python-fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics | Some Fundamentals in 10 minutes

## 1 | Introduction

### 1.1 | A simple start

In [ ]:
print('Hello World')

Hello World

In [ ]:
print('Hello! '*5)

Hello! Hello! Hello! Hello! Hello!

### 1.2 | Python syntax is very readable and easily understood.

In [ ]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
else:
    print('Hello World!')

Hello Batman!

### 1.3 | The Python Intepreter

- The Python 'brain' is called the '_Python **Interpreter**_' (Latest version is 3.9).
- The Python interpreter can only work on a single command at a time.
- If you give a list of *commands*, it goes through them one at a time.

In [ ]:
print('Hello World!')                # Command 0
print('Hello Galaxy!')               # Command 1
print('Hello Universe!')             # Command 2

Hello World!
Hello Galaxy!
Hello Universe!

## 2 | Some Python Basics

### 2.1 | Comments in Python

- We can use a `#` to write comments. 
- The Python interpretor ignores all comments.

In [ ]:
print('One')              # This is a comment
# print('Two')            # The intepreter ignores this line 
print('Three')

One
Three

### 2.2 | Python is case sensitive

In [ ]:
print('Hello World')      # This WILL work

Hello World

In [ ]:
Print('Hello World')      # This will NOT work

NameError: ignored

### 2.3 | `x` is a variable. 'x' is an English letter.

In [ ]:
print('x')      # Print the English letter 'x'

x

In [ ]:
x = 10
print(x)        # Princt the value of the variable x

10

### 2.4 | `=` is not the same as '==' 

- `=` is used to **make** something equal.
- `==` is used to **check** if something is equal.

In [ ]:
x = 10            # Make x have the value 10

In [ ]:
x == 20           # Tell me if x is equal to 20?

False

In [ ]:
x == 10           # Tell me if x is equal to 10?

True

### 2.5 |  Be careful of spaces(indentations) at the start of a line

In [ ]:
# This WILL work
x = 10
print(x)

10

In [ ]:
# This will NOT work
x = 10
    print(x)

IndentationError: ignored

### 2.6 | Python has many (many) cool packages

Basic Python is limited but can be extended with packages. 

Let's understand what this means.

In [ ]:
sqrt(4)       # Will NOT work because basic Python is limited

NameError: ignored

Let's import a package called `math` to fix this problem.

In [ ]:
import math   # Adding(importing) the functions of the 'math' package

In [ ]:
math.sqrt(4)

2.0

We can use other packages too. Lets consider the package **numpy**.

In [ ]:
import numpy as np     # We are lazy! We type 'np' instead of 'numpy'

In [ ]:
np.sqrt(4)

2.0

### 2.7 | The `.` and 'hidden' functions

The `.` shows ownership. 

- `math.sqrt()` means the `sqrt()` function belonging to the package `math`
- `np.sqrt()` means the `sqrt()` function belonging to the package `numpy`
- 'Everything' in Python have useful functions that are sort of 'hidden'.

#### Example 1: `upper()` a method that belongs to 'letters'

In [ ]:
'My name is Batman'.upper()

'MY NAME IS BATMAN'

#### Example 2: `split()` a method that belongs to 'letters'

In [ ]:
'My name is Batman'.split()

['My', 'name', 'is', 'Batman']

#### Example 3: Available methods depends on what you have

---

In [ ]:
1234.split()              # Will NOT work because split() is not a method available to numbers

SyntaxError: ignored

### 2.8 | Python Lists and numpy Arrays

- Two import ways to store information in Python are Python Lists and numpy Arrays.

In [ ]:
py_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]                  # A Python list
np_array = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10] )      # a numpy array

Althoug they look similary each have different features

#### Example 1: Selecting elements that satisfy a criterion

In [ ]:
np_array[np_array > 4]    # Show me (subset) numbers more than 4

array([ 5,  6,  7,  8,  9, 10])

In [ ]:
py_list[py_list > 4]      # Will NOT work

TypeError: ignored

#### Example 2: Adding a number to an array

In [ ]:
np_array + 100            # Add 100 to all elements

array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110])

In [ ]:
py_list + 100             # Will NOT work

TypeError: ignored

#### Example 3: Growing a list

In [ ]:
py_list + [100,200]       # Appends the numbers to the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200]

In [ ]:
np_array + [100,200]     # Will NOT work

ValueError: ignored

### 2.9| Accessing elements of lists and arrays

- **Important**: Python starts counting at 0

#### Examples 1: Selecting one element (indexing)

In [ ]:
py_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# First item
py_list[0]

1

In [ ]:
# Second item
py_list[1]

2

In [ ]:
# Last item
py_list[-1]

10

#### Examples 2: Selecting a range of elements (slicing)

In [ ]:
py_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Start at index 3 (i.e. '4') and give two (5-3) elements
py_list[3:5]

[4, 5]

In [ ]:
# Show me 3 elements from the start
py_list[:3]

[1, 2, 3]

In [ ]:
# Show me all elements from the index 3
py_list[3:]

[4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Show me everything (from start to end)
py_list[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2.10 | Getting Help

- Googling for help is the fastest way to get a problem solved.
- However, you can also get information from within Colab by using the following:

In [ ]:
?np.cos